
	









	




.BlogComment0, body.BlogComment0
{
	
	    border: 1px solid #000000;
	
	
	    background-color: #d14f4f;
	
	
	    color: #000000;
	
	margin-top:10px;
}


.BlogComment1, .BlogComment2, .BlogComment3, .BlogComment4, .BlogComment5, body.BlogComment1, body.BlogComment2, body.BlogComment3, body.BlogComment4, body.BlogComment4
{
	
	    border: 1px solid #000000;
	
	
	    background-color: #9ebeff;
	
	
	    color: #000000;
	
}

.BlogCommentDate 
{
	
	    border: 1px solid #000000;
	
}

.BlogCommentDate .month 
{
	
		background-color: #214dad;
	
	
		color: #000000;
	
	
	    border: 1px solid #000000;
	
}


.BlogCommentDate .day 
{
	
		background-color: #d14f4f;
	
	
		color: #000000;
	
}

.BlogCommentDate .year 
{
	
		background: none repeat scroll 0 0  #d14f4f;
	
	
		color: #000000;
	
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.widget li 
{
    border-top: 1px solid #EEEEEE;
	
	    border-top: 1px solid #000000;
	

}




